<%= form_for @classroom, html: {class: 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :name, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :shift, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.text_field :shift, class: "form-control"  %>
        </div>
      </div>

      <!-- <div class="form-group">
        <%= f.label :shift, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.select :professor_ids, options_for_select(professor_array), {}, {multiple: true, class: "form-control"} %>
        </div>
      </div> -->




      <% if professors.present? %>
        <div class="form-group">
          <%= f.label :professors, class: "col-sm-3 control-label"%>
          <div class="col-sm-6">
            <% professors.each do |professor| %>
              <label class="checkbox-inline">
                <%= f.check_box :professor_ids, {:multiple => true}, professor.id, nil  %> <%= professor.user.name %>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if activities.present? %>
        <div class="form-group">
          <%= f.label :activities, class: "col-sm-3 control-label"%>
          <div class="col-sm-6">
            <% activities.each do |activity| %>
              <label class="checkbox-inline">
                <%= f.check_box :activity_ids, {:multiple => true}, activity.id, nil  %> <%= activity.name %>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if students.present? %>
        <div class="form-group">
          <%= f.label :students, class: "col-sm-3 control-label"%>
          <div class="col-sm-6">
            <% students.each do |student| %>
              <label class="checkbox-inline">
                <%= f.check_box :student_ids, {:multiple => true}, student.id, nil  %> <%= student.name %>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= f.submit "Save", class: "btn btn-default" %>

    </div>
  </div>
<% end %>
