<section class="container-fluid">

  <h1>Classrooms</h1>


    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
          <tbody>
            <% @classrooms.each do |classroom| %>
              <tr>
                <td><%= classroom.user.name %></td>

                <td>
                  <%= link_to classroom_path(classroom), class:"btn btn-success btn-circle" do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_classroom_path(classroom), class:"btn btn-primary btn-circle" do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to classroom_path(classroom), class:"btn btn-danger btn-circle", method:"delete" do %>
                   <i class="fa fa-trash-o"></i>
                 <% end %>
                </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


  <div class="">
      <%= link_to new_classroom_path do %>
        <button class="btn btn-default" name="button">New Classroom</button>
      <% end %>
  </div>

</section>
