<h1><%= @classroom.name %></h1>

<table>
  <tr><td>Name:</td><td><%= @classroom.name %></td></tr>
  <tr><td>Shift:</td><td><%= @classroom.shift %></td></tr>
  <tr><td>Professor:</td><td><%= @classroom.professor_ids %></td></tr>

  <tr><td><%= link_to 'Edit', edit_classroom_path(@classroom.id) %></td></tr>
</table>
