
<%= form_for @student do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :address %><br>
    <%= f.text_field :address %><br>
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, start_year: 1920 %>
  </p>

  <p>
    <%= fields_for :user, @user do |user_f| %>
      <%= render "users/user_fields", :f => user_f %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
