
<h1>Students</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Delete', student_path(student), method: :delete %></td>
    </tr>
  <% end %>
  <td><%= link_to 'New', new_student_path %></td>
</table>

<table>
  <tr>
    <th>Messages</th>
  </tr>
  <% if current_user %>
    <% if current_user.role.name == 'student' %>
      <tr>
        <% @messages.each do |message| %>
          <% if message.student_ids == (current_user.students.ids) %>
            <tr>
              <td><%= message.professor_id %></td>
              <td><%= message.text %></td>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>


</table>
