
<table>
  <tr><td>Name:</td><td><%= @student.name %></td></tr>
  <tr><td>Address:</td><td><%= @student.address %></td></tr>
  <tr><td>Birthday:</td><td><%= @student.birthday %></td></tr>

  <tr><td>Name:</td><td><%= @user.name %></td></tr>
  <tr><td>Phone:</td><td><%= @user.phone %></td></tr>
  <tr><td>Email:</td><td><%= @user.email %></td></tr>
  <tr><td>Password:</td><td><%= @user.password %></td></tr>
  <tr><td>Role:</td><td><%= @user.role.name %></td></tr>

  <tr><td><%= link_to 'Edit', edit_student_path(@student.id) %></td></tr>
</table>
