<div class="form-group">
  <%= f.label :name, class: "col-sm-3 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :name, class: "form-control"  %>
  </div>
</div>
<div class="form-group">
  <%= f.label :phone, class: "col-sm-3 control-label"%>
  <div class="col-sm-6">
    <%= f.text_field :phone, class: "form-control"  %>
  </div>
</div>
<div class="form-group">
  <%= f.label :email, class: "col-sm-3 control-label"%>
  <div class="col-sm-6">
    <%= f.email_field :email, class: "form-control"  %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: "col-sm-3 control-label"%>
  <div class="col-sm-6">
    <%= f.password_field :password, class: "form-control"  %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, class: "col-sm-3 control-label"%>
  <div class="col-sm-6">
    <%= f.password_field :password_confirmation, class: "form-control"  %>
  </div>
</div>





<!-- <%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :phone %><br>
<%= f.text_field :phone %><br>
<%= f.label :email %><br>
<%= f.text_field :email %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation %><br> -->
