<%= form_for @option, html: {class: 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :name, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :activity, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.select :activity_id,  options_for_select(activity_array, @option.activity_id), {}, { class: 'form-control' } %>
        </div>
      </div>

      <%= f.fields_for :suboptions do |suboption| %>
        <%= render 'suboption_fields', f: suboption %>
      <% end %>

      <div class="form-group">
        <%= link_to_add_association '<button class="btn btn-primary" name="button">add suboption</button>'.html_safe, f, :suboptions %>
      </div>

      <div class="form-group">
        <%= f.label :multiple_select, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <label class="radio-inline">
            <%= f.radio_button :multiple, true %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :multiple, false %> No
          </label>
        </div>

      </div>

      <%= f.submit "Save", class: "btn btn-default" %>

    </div>
  </div>
<% end %>
