<section class="container-fluid">
  <h1><%= @option.name %></h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">
        <tbody>
          <tr>
            <td>Activity:</td>
            <td><%= @option.activity.name %></td>
          </tr>
          <tr>
            <td>Multiple Select:</td>
            <td><%= @option.multiple %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% if @option.suboptions.present? %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><b>Suboptions</b></td>
          </tr>
          <% @option.suboptions.each do |child| %>
            <tr>
              <td><%= child.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <%= link_to '<button class="btn btn-default" name="button">Edit</button>'.html_safe, edit_option_path(@option.id) %>

</section>
