<section class="container-fluid">

  <h1>Professors</h1>

  <div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
          <tbody>
            <% @professors.each do |professor| %>
              <tr>
                <td><%= professor.name %></td>

                <td>
                  <%= link_to professor_path(professor), class:"btn btn-success btn-circle" do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_professor_path(professor), class:"btn btn-primary btn-circle" do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to professor_path(professor), class:"btn btn-danger btn-circle", method:"delete" do %>
                   <i class="fa fa-trash-o"></i>
                 <% end %>
                </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="">
      <%= link_to new_professor_path do %>
        <button class="btn btn-default" name="button">New Professor</button>
      <% end %>
  </div>




</section>
