
<h1>Professors</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.user.name %></td>
      <td><%= link_to 'Show', professor_path(professor) %></td>
      <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
      <td><%= link_to 'Delete', professor_path(professor), method: :delete %></td>
    </tr>
  <% end %>
  <td><%= link_to 'New', new_professor_path %></td>
</table>
