<section class="container-fluid">
  <h1>App Agenda</h1>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Schools', schools_path %></li>
    <li class="list-group-item"><%= link_to 'Students', students_path %></li>
    <li class="list-group-item"><%= link_to 'Professors', professors_path %></li>
    <li class="list-group-item"><%= link_to 'Classrooms', classrooms_path %></li>
    <li class="list-group-item"><%= link_to 'Activity Categories', activity_categories_path %></li>
    <li class="list-group-item"><%= link_to 'Activities', activities_path %></li>
    <li class="list-group-item"><%= link_to 'Options', options_path %></li>
    <li class="list-group-item"><%= link_to 'Messages', messages_path %></li>
    <li class="list-group-item"><%= link_to 'Reports', reports_path %></li>
  </ul>
</section>
