<section class="container-fluid">

  <h1>Categories</h1>

  <div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
          <tbody>
            <% @activity_categories.each do |activity_category| %>
              <tr>
                <td><%= activity_category.name %></td>
                <td><%= link_to 'Show', activity_category_path(activity_category) %></td>
                <td><%= link_to 'Edit', edit_activity_category_path(activity_category) %></td>
                <td><%= link_to 'Delete', activity_category_path(activity_category), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="">
      <%= link_to '<button class="btn btn-default" name="button">New Category</button>'.html_safe, new_activity_category_path %>
  </div>


</section>
