<section class="container-fluid">

  <h1>Schools</h1>

  <div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
          <tbody>
            <% @schools.each do |school| %>
              <tr>
                <td><%= school.user.name %></td>

                <td>
                  <%= link_to school_path(school), class:"btn btn-success btn-circle" do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_school_path(school), class:"btn btn-primary btn-circle" do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to school_path(school), class:"btn btn-danger btn-circle", method:"delete" do %>
                   <i class="fa fa-trash-o"></i>
                 <% end %>
                </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="">
      <%= link_to new_school_path do %>
        <button class="btn btn-default" name="button">New School</button>
      <% end %>
  </div>




</section>
