<%= form_for @activity, html: {class: 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <%= f.label :name, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :category, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.select :activity_category_id,  options_for_select(category_array, @activity.activity_category_id), {}, { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :classroom, class: "col-sm-3 control-label"%>
        <div class="col-sm-6">
          <%= f.select :classroom_ids, options_for_select(classroom_array), {}, { class: 'form-control' } %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-default" %>

    </div>
  </div>
<% end %>
