<%= form_for @report do |f| %>
  <div class="row">

    <%= f.hidden_field 'student_id', {id: 'student_id'} %>

    <div class="col-xs-12 col-sm-9">
      <h3 class="page-header">
        Crianças
      </h3>
      <div class="row">
        <% students.each do |student| %>
          <div class="col-xs-4 col-md-2">
            <center>
              <%= student.name %>
            </center>
            <a onclick="selected($(this)); return false;" class="std_link thumbnail" id="<%= student.id.to_s %>">
              <img src="http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="">
            </a>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal1">
              <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
            </button>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Modal 1 ------------------------>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Relatórios Diários - Marcos Grégo</h4>
          </div>
          <div class="modal-body">

            <!-- Ações -->
            <% @report = Report.find(1) %>
            <%= render "report_page" %>
            <!-- Fim Ações -->

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Modal 1 ------------------------>


    <div class="col-sm-3">
      <h3 class="page-header">
        Categorias
      </h3>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <% categories.each do |category| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a onclick="togglePanel($(this));" class="<%= category.name %>"><%= category.name %></a>
                </h4>
              </div>
              <div class="panel-body" id="<%= category.name %>">
                <% activities.where(activity_category_id: category.id).each do |activity| %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <div class="panel-title">
                        <a onclick="togglePanel($(this));" class="<%= activity.name %>"><%= activity.name %></a>
                      </div>
                    </div>
                    <div class="panel-body" id="<%= activity.name %>">
                      <% options.where(activity_id: activity.id).each do |option| %>
                        <%= f.label option.name %>
                        <% if option.multiple %>
                          <% suboptions.where(option_id: option.id).each do |suboption| %>
                            <div class="form-group">
                              <%= f.label suboption.name %>
                              <%= f.check_box "suboption_ids", {:multiple => true}, suboption.id, nil  %>
                            </div>
                          <% end %>
                        <% else %>
                          <% sub_array = suboptions.where(option_id: option.id).map { |s| [s.name, s.id] } %>
                          <%= select_tag "report[suboption_ids][]", options_for_select(sub_array, @report.suboption_ids), class: "form-control"  %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>

  </div>

<% end %>
