<%= form_for @report do |f| %>
  <div class="row">

    <div class="col-sm-9">
      <h3 class="page-header">
        Crianças
      </h3>
      <div class="row">
        <%= form_tag search_reports_path do %><%end%><!-- needed to unbug the first kid -->
        <% students.each do |student| %>
          <div class="col-xs-4 col-md-2">
            <%= check_box_tag "student_ids[]", student.id, nil, {id: "check_#{student.id}", class: "student_check"} %>
            <%= label_tag "check_#{student.id}" do%>
              <%=student.name%>
              <div class="std_link thumbnail"><img src="http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt=""></div>
            <% end %>
            <!-- <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal1">
              <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
            </button> -->
            <%= form_tag search_reports_path do %>
              <%= hidden_field_tag :date, Date.today, class: "form-control" %>
              <%= hidden_field_tag :student_id, student.id %>
              <%= submit_tag "Buscar", class: "btn btn-primary btn-xs" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>


    <!-- Modal 1 ------------------------>
    <!-- <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Relatórios Diários - Marcos Grégo</h4>
          </div>
          <div class="modal-body"> -->

            <!-- Ações -->
            <!-- Fim Ações -->
          <!-- </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Fim Modal 1 ------------------------>

    <div class="col-sm-3">
      <%= render "form_categories", f: f %>
    </div>
<% end %>
