<%= form_for @report do |f| %>
  <p>
    <%= f.label :student %><br>
    <%= f.select :student_id, options_for_select(student_array) %>
  </p>
  <div class="">
    <% @categories.each do |category| %>
      <div class="category">
        <%= category.name %>
        <% @activities.where(activity_category_id: category.id).each do |activity| %>
          <div class="activity">
            <%= activity.name %>
            <% @options.where(activity_id: activity.id).each do |option| %>
              <div class="option">
                <%= f.label option.name %>
                <% if option.multiple %>
                  <% @suboptions.where(option_id: option.id).each do |suboption| %>
                    <div class="suboption">
                      <%= f.label suboption.name %>
                      <%= f.check_box "suboption_ids", {:multiple => true}, suboption.id, nil  %>
                    </div>
                  <% end %>
                <% else %>
                  <br>
                  <% sub_array = @suboptions.where(option_id: option.id).map { |s| [s.name, s.id] } %>
                  <%= select_tag "report[suboption_ids][]", options_for_select(sub_array, @report.suboption_ids)  %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>
    <%= f.submit "Send" %>
  </p>
<% end %>
