<!-- Date chooser -------------------------------->
<%= form_tag(search_reports_path) do %>
<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"> Dia: </span>
  </span>
  <%= date_field_tag :date, report.nil? ? params[:date] : report.date, class: "form-control" %>
</div>
  <%= hidden_field_tag(:student_id, report.nil? ? params[:student_id] : report.student.id) %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<br>
<!--  -------------------------------------------->

<% if !report.nil? %>
  <!-- Activiies & Options ----------------------->
  <!-- panel color variables -->
  <% panels = ["primary", "warning", "success"] %>
  <% panel_color = -1 %>

  <!-- make selection -->
  <% selection = suboptions_with_joins(report.id) %>
  <!-- open the first activity -->
  <% prev_item = {} %>
  <!-- array of notes -->
  <% notes_a = report.report_notes.to_a %>

  <!-- LOOP through all activities -->
  <% selection.each do |item| %>
    <!-- CATEGORY end: change color -->
    <% panel_color+=1 if item["activity_category_id"] != prev_item["activity_category_id"] %>

    <!-- ACTIVITY end: change panel -->
    <% if item["activity_id"] != prev_item["activity_id"] %>
      <!-- close previous one -->
      <%= render "report_activity_footer",
        note: mark_notes_for(prev_item["activity_id"], notes_a), break_line: true if !prev_item.empty? %>
      <!-- start a new  one -->
      <%= render "report_activity_header",
        panel: panels[panel_color%3], title: item["activity_name"] %>
      <b><%= item["option_name"] %>:</b>
      <%= item["suboption_name"] %>

    <!-- OPTION end: change topic -->
    <% elsif item["option_id"] != prev_item["option_id"] %>
      <br><b><%= item["option_name"] %>:</b>
      <%= item["suboption_name"] %>

    <% else %>
    <!-- SUBOPTION show name -->
    , <%= item["suboption_name"] %>
    <% end %>

    <!-- update prev_item -->
    <% prev_item = item %>
  <% end %>
  <!-- LOOP end -->

  <!-- close the last activity -->
  <%= render "report_activity_footer",
    note: mark_notes_for(prev_item["activity_id"], notes_a), break_line: true if !prev_item.empty? %>
  <!--  ----------------------------------------->

  <% prev_cat = (prev_item.empty?) ? 0 : prev_item["activity_category_id"] %>
  <!-- show notes of activities not mentioned --->
  <% notes_a.each do |note| %>
    <% if note.activity_id != -1 %>
      <!-- CATEGORY end: change color -->
      <% panel_color+=1 if note.activity.activity_category_id != prev_cat %>
      <% prev_cat = note.activity.activity_category_id %>

      <!-- open -->
      <%= render "report_activity_header",
        panel: panels[panel_color%3], title: note.activity.name %>
      <!-- close -->
      <%= render "report_activity_footer",
        note: mark_notes_for(note.activity_id, notes_a), break_line: false %>

    <% end %>
  <% end %>
  <!--  ----------------------------------------->

  <!-- Messages of that day --------------------->
  <%= render "messages/messages_block", messages: report.student.messages.
    where(created_at: (report.created_at.beginning_of_day..report.created_at.end_of_day)) %>
  <!--  ----------------------------------------->
<% else %>
  <h2> Sem relatório.. </h2>
<% end %>
