<!-- Date chooser -------------------------------->
<%= form_tag(search_reports_path) do %>
<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"> Dia: </span>
  </span>
  <%= date_field_tag :date, report.nil? ? params[:date] : report.date,
    class: "form-control", onchange: "this.form.submit();" %>
</div>
  <%= hidden_field_tag(:student_id, report.nil? ? params[:student_id] : report.student.id) %>
<% end %>
<br>
<!--  -------------------------------------------->

<% if !report.nil? && !(is_user("student" || "student_adjacent") && report.draft ) %>
  <!-- Activiies & Options ----------------------->
  <!-- panel colors array -->
  <% panels = ["primary", "warning", "success"] %>

  <!-- make selection -->
  <% selection = suboptions_with_joins(report.id) %>
  <!-- open the first activity -->
  <% prev_item = {} %>
  <!-- array of notes -->
  <% notes_a = report.report_notes.to_a %>

  <!-- LOOP through all activities -->
  <% selection.each do |item| %>
    <!-- ACTIVITY end: change panel -->
    <% if item["activity_id"] != prev_item["activity_id"] %>
      <!-- close previous one -->
      <%= render "report_activity_footer",
        note: mark_notes_for(prev_item["activity_id"], notes_a), break_line: true if !prev_item.empty? %>
      <!-- start a new  one -->
      <%= render "report_activity_header",
        panel: panels[item["activity_category_id"]%3], title: item["activity_name"] %>
      <b><%= item["option_name"] %>:</b>
      <%= item["suboption_name"] %>

    <!-- OPTION end: change topic -->
    <% elsif item["option_id"] != prev_item["option_id"] %>
      <br><b><%= item["option_name"] %>:</b>
      <%= item["suboption_name"] %>

    <% else %>
    <!-- SUBOPTION show name -->
    , <%= item["suboption_name"] %>
    <% end %>

    <!-- update prev_item -->
    <% prev_item = item %>
  <% end %>
  <!-- LOOP end -->

  <!-- close the last activity -->
  <%= render "report_activity_footer",
    note: mark_notes_for(prev_item["activity_id"], notes_a), break_line: true if !prev_item.empty? %>
  <!--  ----------------------------------------->

  <% prev_cat = (prev_item.empty?) ? 0 : prev_item["activity_category_id"] %>
  <!-- show notes of activities not mentioned --->
  <% notes_a.each do |note| %>
    <% if note.activity_id != -1 %>
      <!-- open -->
      <%= render "report_activity_header",
        panel: panels[note.activity.activity_category_id%3], title: note.activity.name %>
      <!-- close -->
      <%= render "report_activity_footer",
        note: mark_notes_for(note.activity_id, notes_a), break_line: false %>

    <% end %>
  <% end %>
  <!--  ----------------------------------------->

<% else %>
  <h2> Sem relatório.. </h2>
<% end %>

<!-- Messages of that day --------------------->
<% if !params[:date].nil? && !params[:student_id].nil? %>
  <% date = params[:date].to_date %>
  <%= render "messages/messages_block", messages: Student.find(params[:student_id]).messages.
    where(created_at: (date.beginning_of_day..date.end_of_day)) %>
<% end %>
<!--  ----------------------------------------->
