<!-- Date chooser ---------------------->
<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"> Dia: </span>
  </span>
  <input type="date" class="form-control" value="<%= report.created_at.to_date %>">
</div>
<br>
<!--  --------------------------------->

<!-- Activiies & Options -------------->
<% panels = ["primary", "warning", "success"] %>
<% report.suboptions.each do |suboption| %>
  <div class="panel panel-<%= panels[rand(3)] %>" >
    <div class="panel-heading" >
      <h3 class="panel-title"><%= suboption.option.activity.name %></h3>
    </div>
    <div class="panel-body">
      <b><%= suboption.option.name %>:</b> <%= suboption.name %> <br>
      <b>Obs.:</b> note
    </div>
  </div>
<% end %>
<!--  --------------------------------->

<!-- Messages of that day ------------->
<%= render "messages/messages_block", messages: report.student.messages.
  where(created_at: (report.created_at.beginning_of_day..report.created_at.end_of_day)) %>
<!--  --------------------------------->
