
<section class="container-fluid">

  <h1>Reports</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= link_to '<button class="btn btn-default" name="button">Newest</button>'.html_safe, :sort => "created_at DESC" %>
      <%= link_to '<button class="btn btn-default" name="button">Oldest</button>'.html_safe, :sort => "created_at ASC" %>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td><b>Student</b></td>
            <td><b>Date</b></td>
            <td><b></b></td>
          </tr>
        </thead>
        <tbody>
          <% @reports = @reports.order(created_at: "DESC") %>
          <% @reports.each do |report| %>
            <tr>
              <td><%= report.student.name %></td>
              <td><%= report.created_at.to_s(:short)%></td>
              <td>
                <%= link_to report_path(report), class:"btn btn-success btn-circle" do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_report_path(report), class:"btn btn-primary btn-circle" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to report_path(report), class:"btn btn-danger btn-circle", method:"delete" do %>
                 <i class="fa fa-trash-o"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="">
      <%= link_to new_report_path do %>
        <button class="btn btn-default" name="button">New Report</button>
      <% end %>
  </div>

</section>
