<!DOCTYPE html>
<html>
  <head>
    <title>AppAgenda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="center">
      <% if current_login %>
        <%= current_login.username %>
        <%= link_to "Sign out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
